body {
  padding-top: 50px;
}
section {
  min-height: 500px;
}
.head {
  /*background-image: url("http://static4.grsites.com/archive/textures/drock/drock032.jpg");*/
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),  url("js-code.jpg");
  background-attachment: fixed;
  color: white;
}
.about {
  background-image: url("http://static2.grsites.com/archive/textures/lgren/lgren033.jpg");
  background-attachment: fixed;
}
.portfolio {
  background-image: url("http://static3.grsites.com/archive/textures/lblue/lblue114.gif");
  background-attachment: fixed;
}
.contact {
  background-image: url("http://static4.grsites.com/archive/textures/comp/comp010.jpg");
  background-attachment: fixed;
}
.footer {
  height: 50px;
}
.anchor:before {
  content: '';
  display: block;
  height: 70px;
  margin-top: -70px
}

.btn {
  margin: 10px;
}
